.sony-bg {
  background: url("./assets/images/playstation-bg.jpg") no-repeat;
  position: relative;
  min-height: 100vh;
  background-size: cover;
}

.header-font {
  font-family: "PlayGreat" !important;
}

.header {
  padding-top: 10px;
}

.header__title {
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.header__subtitle {
  color: #fff;
  font-size: 28px;
}

.subtitle__flex {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table {
  margin-top: 25px;
  background-color: #fff;
  border-radius: 15px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 790px) {
  .header__title {
    font-size: 48px;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .astro {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header__title,
  .subtitle__flex {
    flex-direction: column;
  }
}

.badge {
  position: relative;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
}

.css-hykeff {
  border-bottom: none !important;
}
