*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "PlayGreat";
  src: local("PlayGreat"), url("./assets/Fonts/PlayGreatBold.ttf") format("truetype");
  font-weight: normal;
  /* How to avoid showing invisible text 
   * https://web.dev/font-display/?utm_source=lighthouse&utm_medium=unknown#how-to-avoid-showing-invisible-text
   */
  font-display: swap;
}
